*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --dark-blue: #040025;
  --light-blue: #2274A5;
  --light-gray: #E9F1F7;
  --light-yellow: #E7DFC6;
  --light-brown: #816C61;
}

html{
  min-height: 100%;
  height: 100%;
}

body{
  background-color: var(--dark-blue);
  background-repeat: repeat;
  color: var(--light-gray);
  min-height: 100%;
  height: 100%;
}

#root{
  position: absolute;  
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  margin: 10px;  
}

.wrapper{
  border: 1px solid var(--light-gray);
  box-sizing: border-box;
  padding: 10px;
  min-height: 100%;
  height: 100%;
}

.content{
  overflow: hidden;
  overflow-y: auto;
}

.strong{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  display: none;
}


/* Header */

.header{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.branding-socials{
  flex-basis: 30%;
}

.branding h1{
  font-size: 60px;
}

.branding span{
  font-size: 25px;
  color: var(--light-yellow);
}

.navigation{
  flex-basis: 70%;
}

.navigation ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navigation ul li{
  margin-left: 30px;
}

.navigation ul li a,
.navigation ul li a:hover{
  color: var(--light-gray);
}


/* Footer */

.footer{
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}

.socials a,
.socials a:hover{
  margin-right: 20px;
  margin-left: 20px;
  color: var(--light-gray);
}

.socials a .svg-inline--fa{
  font-size: 26px;
}


/* Main content area */

.content > div{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}


/* Home */

.welcome{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;;
}

.welcome h2,
.welcome p{
  flex-basis: 100%;
}

.welcome h2{
  font-size: 50px;
  margin-bottom: 20px;
}

.welcome p{
  max-width: 600px;
  font-size: 20px;
}


/* About */

.about{
  align-content: center;
}

.about p{
  flex-basis: 100%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}


/* Work */

.work .left{
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.work .left,
.work .right{
  height: 100%;
}

.work .left p{
  width: 450px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.work-item{
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.work-item .year,
.work-item .title{
  display: inline-block;
}

.work-item .title{
  font-size: 40px;
}

.work-item .year{
  margin-right: 10px;
}

.work-item .type,
.work-item .description,
.work-item .technologies{
  display: block;
  margin-bottom: 5px;
}