*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  --dark-blue: #040025;
  --light-blue: #2274A5;
  --light-gray: #E9F1F7;
  --light-yellow: #E7DFC6;
  --light-brown: #816C61;
}

html{
  min-height: 100%;
  height: 100%;
}

body{
  background-color: var(--dark-blue);
  background-repeat: repeat;
  color: var(--light-gray);
  min-height: 100%;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 1.3vw;
}

#root{
  position: absolute;  
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  margin: 10px;  
}

.wrapper{
  border: 1px solid var(--light-gray);
  box-sizing: border-box;
  padding: 10px;
  min-height: 100%;
  height: 100%;
  background-image: url(./img/background-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /*position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-event: none;
  z-index: 300;
  transform: translateZ(0);*/

  &:before {
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    z-index: 9999;
    position: fixed;
    background-image: url(./img/gaussian-noise.png);
    opacity: 0.15;
    pointer-events: none;
    -webkit-animation: noise 1s steps(2) infinite;
    animation: noise 1s steps(2) infinite;
  }

  @-webkit-keyframes noise {
    to { transform: translate3d(-7rem,0,0) }
  }

  @keyframes noise {
    0% { transform: translate3d(0,9rem,0) }
    10% { transform: translate3d(-1rem,-4rem,0) }
    20% { transform: translate3d(-8rem,2rem,0) }
    30% { transform: translate3d(9rem,-9rem,0) }
    40% { transform: translate3d(-2rem,7rem,0) }
    50% { transform: translate3d(-9rem,-4rem,0) }
    60% { transform: translate3d(2rem,6rem,0) }
    70% { transform: translate3d(7rem,-8rem,0) }
    80% { transform: translate3d(-9rem,1rem,0) }
    90% { transform: translate3d(6rem,-5rem,0) }
    to { transform: translate3d(-7rem,0,0) }
  }
}

.content{
  overflow: hidden;
  overflow-y: auto;
}

.strong{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

/* width */
::-webkit-scrollbar {
  width: 3px; 
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--dark-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--light-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-blue);
}

@media(min-width: 768px) and (max-width: 991px){
  body{
    font-size: 1.8vw;
  }
}

@media(max-width: 767px) and (orientation: portrait){
  body{
    font-size: 5vw;
  }
}

@media(max-width: 767px) and (orientation: landscape){
  body{
    font-size: 3vw;
  }
}


/* Header */

.header{
  display: flex;
  flex-wrap: wrap;
  height: 20%;
}

.branding-socials{
  flex-basis: 50%;
}

.branding h1{
  font-size: 4.5vw;
}

.branding span{
  font-size: 2vw;
  color: var(--light-yellow);
}

#main-menu{
  display: block;
}

#main-menu ul li{
  list-style-type: none;
}

.navigation{
  flex-basis: 50%;
}

.navigation ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navigation ul li{
  margin-left: 30px;
}

.navigation ul li a,
.navigation ul li a:hover{
  color: var(--light-gray);
}

#mobile-menu{
  display: none;
}

.header .icon .svg-inline--fa{
  font-size: 30px;
}

.active{
  color: var(--light-blue) !important;
}

@media(min-width: 768px) and (max-width: 991px)  and (orientation: portrait){
  .header{
    height: 10%;
  }
}

@media(max-width: 767px) and (orientation: portrait){
  .header{
    height: 15%;
  }

  .branding h1{
    font-size: 10vw;
  }

  .branding span{
    font-size: 6vw;
  }
}

@media(max-width: 767px) and (orientation: landscape){
  .header{
    height: 20%;
  }

  .branding h1{
    font-size: 5vw;
  }

  .branding span{
    font-size: 3vw;
  }
}

@media(max-width: 767px){
  .branding-socials,
  .navigation{
    flex-basis: 100%;
  }

  #mobile-menu{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  #main-menu{
    display: none;
    flex-basis: 100%;
    height: 0;
  }

  .navigation ul{
    justify-content: center;
    background-color: var(--dark-blue);
    z-index: 10;
    position: relative;
  }

  .navigation ul li {
    margin-left: 30px;
    margin: 0;
    width: 100%;
  }

  .navigation ul li a, .navigation ul li a:hover {
    color: var(--light-gray);
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px 10px;
    box-sizing: border-box;
  }
}


/* Footer */

.footer{
  width: 100%;
  height: 6%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
}

.socials a,
.socials a:hover{
  margin-right: 20px;
  margin-left: 20px;
  color: var(--light-gray);
}

.socials a .svg-inline--fa{
  font-size: 26px;
}

@media(min-width: 768px) and (max-width: 991px)  and (orientation: portrait){
  .footer{
    height: 10%;
  }
}

@media(max-width: 767px) and (orientation: portrait){
  .footer{
    height: 7%;
  }
}

@media(max-width: 767px) and (orientation: landscape){
  .footer{
    height: 10%;
  }
}


/* Main content area */

.content{
  height: calc(74% - 20px);
  margin-top: 20px;
  box-sizing: border-box;
}

.content > div{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}

.margin-bottom-p{
  margin-bottom: 50px !important;
}

p.strong.italic{
  color: var(--light-blue);
}

.details{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

@media(min-width: 768px) and (max-width: 991px)  and (orientation: portrait){
  .content{
    height: calc(80% - 20px);
  }
}

@media(max-width: 767px) and (orientation: portrait){
  .content{
    height: calc(78% - 20px);
  }
}

@media(max-width: 767px) and (orientation: landscape){
  .content{
    height: calc(70% - 20px);
  }
}


/* Home */

.welcome{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.welcome h2,
.welcome p{
  flex-basis: 100%;
}

.welcome h2{
  font-size: 3vw;
  margin-bottom: 20px;
  color: var(--light-blue);
}

.welcome p{
  max-width: 33.33%;
}

@media(max-width: 767px) and (orientation: portrait){
  .welcome h2{
    font-size: 7vw;
  }
}

@media(max-width: 767px) and (orientation: landscape){
  .welcome h2{
    font-size: 5vw;
  }
}

@media(max-width: 767px){
  .welcome p{
    max-width: none;
  }
}


/* About */

.about h2{
  font-size: 3vw;
  margin-bottom: 20px;
  color: var(--light-blue);
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about p{
  flex-basis: 100%;
  margin-bottom: 20px;
  text-align: center;
}

@media(max-width: 767px) and (orientation: portrait){
  .about h2{
    font-size: 7vw;
  }
}

@media(max-width: 767px) and (orientation: landscape){
  .about h2{
    font-size: 5vw;
  }
}


/* Work */

.work h2{
  font-size: 3vw;
  margin-bottom: 20px;
  color: var(--light-blue);
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media(max-width: 767px) and (orientation: portrait){
  .work h2{
    font-size: 7vw;
  }
}

@media(max-width: 767px) and (orientation: landscape){
  .work h2{
    font-size: 5vw;
  }
}

.work-item{
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.work-item .year,
.work-item .company{
  display: inline-block;
}

.work-item .title{
  display: block;
}

.work-item .title{
  font-size: 3.5vw;
  color: var(--light-blue);
}

.work-item .title span{
  display: block;
  font-size: 0.8vw;
}

.work-item .title sup a,
.work-item .title sup a:hover{
  font-size: .8vw;
  color: var(--light-yellow);
  margin-left: 5px;
  margin-right: 5px;
}

.work-item .year,
.work-item .company{
  color: var(--light-gray);
}

.work-item .type,
.work-item .description,
.work-item .technologies{
  display: block;
  margin-bottom: 5px;
}

.work-item .type{
  color: var(--light-yellow);
}

.work-item .technologies span{
  margin: 10px 15px;
  padding: 5px 10px;
  background-color: var(--light-brown);
  color: var(--light-gray);
  font-size: 70%;
  border-radius: 50px;
  font-weight: bold;
  display: inline-block;
}

@media(max-width: 767px) and (orientation: landscape){
  .work-item .title{
    font-size: 5vw;
  }
  .work-item .title sup a,
  .work-item .title sup a:hover{
    font-size: 3.5vw;
  }
}

@media(max-width: 767px) and (orientation: portrait){
  .work-item .title{
    font-size: 8vw;
  }

  .work-item .title sup a,
  .work-item .title sup a:hover{
    font-size: 5.5vw;
  }
}

@media(max-width: 767px){
  .work-item .technologies span{
    margin: 10px 10px;
  }

  .work-item .title sup a,
  .work-item .title sup a:hover{
    margin-left: 10px;
    margin-right: 10px;
  }
}


/* Contact */

.contact-title{
  font-size: 3vw;
  margin-bottom: 20px;
  color: var(--light-blue);
}

.contact p{
  flex-basis: 100%;
  margin-bottom: 20px;
  text-align: center;
}

@media(max-width: 767px) and (orientation: landscape){
  .contact-title{
    font-size: 5vw;
  }
}

@media(max-width: 767px) and (orientation: portrait){
  .contact-title{
    font-size: 7vw;
  }
}